h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 40px;


}
h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 30px;
}
.TituloQuestao{
    font-family: 'Roboto', sans-serif;
    text-align: left
}
.questao{
    font-family: 'Roboto'
}

header{
    background-color: #1E90FF;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.divisao {
    color: #000000;
    fill: #000000;
}